* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* 
    #3776DB 
    #6137DB 
    #9737DB 
    #3741DC
    #37AADB
*/

.light-theme {
    --headersection: #101444;
    --primary-color: #10072f;
    --secondary-color: #8db8ff;
    --skill-border-color: #6c3792;
    --project-border-color: #01097d;
    --btn-color: #81d9ff;
}

:root {
    --scrollbar-bg: linear-gradient(to top left, rgb(0, 57, 255), rgb(239, 249, 255));
    --scrollbar-bg-hover: linear-gradient(to top left, rgb(0, 0, 255), rgb(0, 232, 255));
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg, #999);
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-bg-hover, #555);
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: Helvetica, sans-serif, Georgia;
    font-weight: 400;
}

.main-header {
    background-color: var(--headersection);
    padding: 12px;
}