a {
    text-decoration: none;
}

h2 { 
    color: rgb(120, 38, 208);
    font-size: 35px;
    padding: 23px 0px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-item{
    padding: 10px;
}